<div class=" container card my-5">
	<div class="card-header text-center">
		<h1><%= @article.title%></h1>
	</div>
	<div class="card-body">
		<div class=float-end>
			<p class="mb-0"> Created by:</p>
			<% user=@article.user%>
			<%= link_to user_gravatar(user), user_path(user) %>
		</div>
		<h3 class="card-title">Description:</h3>
		<p class="card-text"><%=simple_format(@article.description)%></p>
	</div>
	<div class="card-footer text-muted">
		<% if logged_in? and (current_user==@article.user || current_user.admin)%>
			<button class="button btn-primary" role="button"><%= link_to 'Edit this article', edit_article_path(@article),class:"text-light text-decoration-none" %></button>
			<button class="button btn-danger"><%= link_to 'Delete this article', article_path(@article), data:{turbo_method: :delete},class:"text-light text-decoration-none" %></button>
		<% end %>
		<button class="button btn-success"><%= link_to 'View all articles', articles_path,class:"text-light text-decoration-none" %></button>
	</div>
</div>
