<h1 class="text-center mt-5"> <%= a %> </h1>
<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-10">
			<%= render 'shared/errors',obj:@category,a:'Category' %>
			<%= form_with model: @category, class: "my-3" do |f|%>
				<div class="form-group">
					<%= f.label :name, class: "col-sm-4 col-form-label "%>
					<div class="col-sm-8">
						<%= f.text_field :name, class:"form-control", placeholder: "Category Name"%>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-10">
						<%= f.submit data: {turbo:false}, class:"btn btn-primary" %>
					</div>
				</div>
			<% end%>
		</div>
	</div>
	<div class="small text-center ">
		[ <%= link_to 'Cancel request and Back to articles listing', articles_path, class:"text-decoration-none" %> ]
	</div>
</div>
